{% include header.html %}
{% include navbar.html %}


<div class="container py-5">
  {% for post in paginator.posts %}
  <article class="post d-flex mb-5 mx-5 px-5">
    <a href="{{ post.url }}">
      {% if post.thumbnail %}
      <img src="/images/{{ post.thumbnail }}" title="{{ post.title | xml_escape }}" alt="{{ post.title | xml_escape }}">
      {% else %}
      <img src="/themes/default/images/default_thumbnail.png" alt="{{ post.title  | xml_escape }}">
      {% endif %}
    </a>
    <div class="ml-4">
      <h1>
        <a href="{{ post.url }}" title="{{ post.title | xml_escape }}">{{ post.title | xml_escape }}</a>
      </h1>
      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </div>
  </article>
  {% endfor %}

  <nav>
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link"
          href="{{ paginator.previous_page_path}}">&laquo;</a>
      </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li class="page-item active">
        <span class="page-link">{{ page }}</span>
      </li>
      {% elsif page == 1 %}
      <li class="page-item">
        <a class="page-link" href="/">{{ page }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link"
          href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
          }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
      </li>
      {% endif %}
    </ul>

</div>
</nav>

{% include footer.html %}